{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>This is a main page</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam faucibus mi quis velit. Nulla non lectus sed nisl molestie malesuada. Integer imperdiet lectus quis justo. Vivamus porttitor turpis ac leo. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Quisque porta. Nullam eget nisl.</p>
    <div class="row">
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam faucibus mi quis velit. Nulla non lectus sed nisl molestie malesuada. Integer imperdiet lectus quis justo. Vivamus porttitor turpis ac leo. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Quisque porta. Nullam eget nisl.</p>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam faucibus mi quis velit. Nulla non lectus sed nisl molestie malesuada. Integer imperdiet lectus quis justo. Vivamus porttitor turpis ac leo. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Quisque porta. Nullam eget nisl.</p>
        </div>
    </div>


</div>

{% endblock content %}

